
useDynLib(ergm.rank)

import(statnet.common,network,ergm)
importFrom(statnet.common,statnetStartupMessage)
importFrom(stats, na.omit)

# Export all names that do not begin with a dot.
exportPattern("^[^\\.]")
